services:
  migru-app:
    build: .
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - .:/app
    tty: true
    stdin_open: true

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
